.btnRemove{
    background-color: crimson;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
}
.btnVaciar{
    background-color: rgb(220, 20, 20);
    padding: 0.5rem 1.5rem;
    border-radius: 2px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 0ch;
}
.imageCart{
    width: 500px;
    height: auto;
}
.tableTr{
    display: flex;
    align-items: center;
    margin: 0 auto;    
}
.contenedor{
    margin:  0 auto;
}
h2{
    text-align: center;
}
.tableTd{
    width: 40%;
    padding: 0 3rem;
    margin: 0 auto;
}
.btnTerminarCompra{
    text-decoration: none;
    background-color: rgb(33, 178, 0);
    padding: 0.5rem 1.5rem;
    border-radius: 2px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    color: black;
}