*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 30px 10px;
    background: linear-gradient(90deg, rgba(227,0,255,1) 0%, rgba(9,9,121,1)30%, rgba(0,212,255,1) 100%);
    width: 100%;
    
}

img{
    height: 100px;
}

a{
    margin: 1.5rem;
    font-size: xx-large;
    text-decoration: none;
    text-decoration-color: crimson;
}

nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}
