footer{
    background-color: black;
    color: white;
}

table{
    width: 80%;
    margin: 0 auto;
}
.tarjetas{
    justify-items: center;
    display: flex;
    margin-top: 0.5rem;
}
.contactos{
    width: 20%;

}
ul, li{
    list-style: none;
}
h3{
    text-decoration: underline;
    text-align: center;
}
